<div class="container mt-5">
  <div class="row">
    <!-- Richard-->
    <div class="col-md-6">
      <div class="card">
        <img src="BankApp/app/assets/images/richard.JPG" class="card-img-top" alt="Person 1 Image">
        <div class="card-body">
          <h5 class="card-title">Richard Ohia</h5>
          <p class="card-text">
            Hi there! My name is Richard Ohia. Originally from Lagos, Nigeria, I grew up in Newark, New Jersey.
            I went to an all boys highschool in Newark, and now attend Bowdoin College in Brunswick, Maine. At Bowdoin,
            I am double majoring in Computer Science and Economics, while also being a member of the Bowdoin Rugby Football Club.
          </p>
        </div>
      </div>
    </div>

    <!-- Diego -->
    <div class="col-md-6">
      <div class="card">
        <img src="person2.jpg" class="card-img-top" alt="Person 2 Image">
        <div class="card-body">
          <h5 class="card-title">Jane Smith</h5>
          <p class="card-text">
            A brief description of Jane Smith. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>