<div class="container mt-5">
  <div class="row">
    <!-- Richard-->
    <div class="col-md-6">
      <div class="card">
        <%= image_tag "richard.JPG"%>
        <div class="card-body">
          <h5 class="card-title">Richard Ohia</h5>
          <p class="card-text">
            Hi there! My name is Richard Ohia. Originally from Lagos, Nigeria, I grew up in Newark, New Jersey.
            I went to an all boys highschool in Newark, and now attend Bowdoin College in Brunswick, Maine. At Bowdoin,
            I am double majoring in Computer Science and Economics, while also being a member of the Bowdoin Rugby Football Club.
          </p>
        </div>
      </div>
    </div>

    <!-- Diego -->
    <div class="col-md-6">
      <div class="card">
        <%= image_tag "diego.jpg"%>
        <div class="card-body">
          <h5 class="card-title">Diego Torres-Ramos</h5>
          <p class="card-text">
            My name is Diego Torres-Ramos and I was born and raised in Los Angeles, California. I attended a public medical
            magnet high school which led me to Bowdoin College in Brunswick, Maine. After high school, I learned that a career
            for medicine isn't for me and I discovered my newfound interest in Computer Science. I'm also an Anthropology minor
            because I enjoy researching inter-personal dynamics when considering race, class and gender. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>